:root {
  --color-lighter: #f5f5f4;
  --color-lighte: #e7e5e4;
  --color-dark: #1c1917;
  --color-darker: #0c0a09;
  --color-redux: #6d28d9;
  --color-red: #dc2626;
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: var(--color-dark);
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 400;
}

p {
  font-size: 1.4rem;
}

html {
  font-size: clamp(10px, 1.2vw + 6px, 14px);
}
